<div class="card shadow">
  <div class="card-img-wrapper">
    <img *ngIf="property.photo" class="card-img-top" src="{{property.photo}}">
    <img *ngIf="!property.photo" class="card-img-top" src="assets/images/house_default.png">
    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}">
          <i class="fa fa-edit me-1"></i>Details</button>
      </li>
    </ul>
  </div>
  <div class="card-body p-3">
    <h4 class="mb-0">{{property.name}}</h4>
    <span *ngIf="property.name">{{property.city}}</span><br/>
    <span>{{property.bedrooms}} Bedroom(s)</span><br/>
    <span>{{property.propertyType}}</span><br/>
    <h6  class="mt-2">{{property.furnishingType}}
    <span *ngIf="property.furnishingType !== 'Unfurnished'">Furnished</span>
    <span *ngIf="property.readyToMove"> | Ready to Move</span>
    <span *ngIf="!property.readyToMove"> | Possession: {{property.estPossessionOn | date}}</span>
    </h6>
    <hr class="mt-0 mb-2">
    <h6 class="mb-0">Price: $ <span>{{property.price}} NZD.</span> |
      Area: <span>{{property.landArea}} sqm </span></h6>
  </div>
</div>
