.spinner-icon  .spinner-border {
    width: 64px;
    height: 64px;
    border: 8px solid #052738;
    border-top: 8px solid #ff3550;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    -webkit-animation: spin 1.2s linear infinite;
    -ms-animation:  spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
